.header {
  padding: 94px 50px;
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
}

.header__logo {
  display: block;
  height: 105px;
  width: 148px;
}

.header__logo-image {
  height: 100%;
}

.header__links-list {
  display: flex;
  flex-direction: row;
  gap: 32.6px;
  list-style: circle;
  text-underline-offset: 0.2em;
}

.header__links-list-item {
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.address {
  max-width: 240px;
  justify-self: end;
}

.header__address {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-weight: 400;
  font-size: 18px;
  line-height: 24.3px;
  font-style: normal;
  text-underline-offset: 0.2em;
}

.cover {
  padding: 165px 50px 50px 50px;
  background-image: url(../images/cover.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  color: #fff;
  min-height: 757px;
}

.lots {
  padding: 180px 24px 120px 24px;
}

.about {
  padding: 35px 24px 180px 24px;
}

.footer {
  padding: 0 50px 82px 50px;
}