.header {
  padding: 94px 50px;
}

.cover {
  padding: 165px 50px 50px 50px;
  background-image: url(../images/cover.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  color: #fff;
  min-height: 757px;
}

.lots {
  padding: 180px 24px 120px 24px;
}

.about {
  padding: 35px 24px 180px 24px;
}

.footer {
  padding: 0 50px 82px 50px;
}